<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/Styles/Botones.css">

      <title>Botones</title>
</head>
<body>
      <div class="padre">
            <h1> Bienvenido a nuestro evento de botones</h1>
            <div class="hijo">
                  <button class="master" id="master_boton"> Bienvenido</button>
            </div>
      </div>
</body>
<script src="/Logic/Botones.js"></script>
</html>